---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, target, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a 
class:list={[className, { 'underline decoration-1 underline-offset-2': isActive }]} 
target={target ?? '_self'}
rel={target === '_blank' ? 'noopener noreferrer' : undefined}
href={href} 
{...props}>
    <slot />
</a>
